#############################
# Provider specific Inputs
#############################

# Monitor
monitor_entrypoint: "193.144.35.146"

# Job prefix name
job_prefix: "mso_"

# on LNCMI:
#sregistry_storage: "$HOME/singularity_images"
#ressources: singularity_image_filename: "hifimagnet-buster.simg"
# hpc_modules: 
# hpc_volumes: '${HOME}/feel:/feel'
# cfgfile: "/usr/share/doc/hifimagnet/ThermoElectricModel/quarter-turn3D.cfg"

# on Cesga:
# hpc_modules: []
# hpc_volumes: ['/scratch', '/mnt', '${LUSTRE}/feel:/feel']
sregistry_storage: "$LUSTRE/singularity_images"
singularity_image_filename: "hifimagnet-stretch.simg"
singularity_image_cleanup: "false"
cfgfile: "/usr/share/doc/hifimagnet/ThermoElectricModel/quarter-turn3D.cfg"
execfile: "feelpp_hfm_thermoelectric_model_3D_V1T1_N1"

# # euler LNCMI credentials
# mso4sc_hpc_primary:
#     credentials:
#         host: "147.173.80.14"
#         user: "xxxxx"
#         password: "xxxxx"
#     country_tz: "Europe/Paris"
#     workload_manager: "SLURM"
#     # partition: "euler"

# CESGA FTII credentials
mso4sc_hpc_primary:
    credentials:
        host: "ft2.cesga.es"
        user: "yyyy"
        password: "yyyy"
    country_tz: "Europe/Madrid"
    workload_manager: "SLURM"
    base_dir: "$LUSTRE"
    # partition: "thin-shared"

# # SZE test infrastructure credentials
# mso4sc_hpc_secondary:
#     credentials:
#         host: "mso.tilb.sze.hu"
#         user: "[USER]"
#         password: "[PASS]"
#     country_tz: "Europe/Budapest"
#     workload_manager: "SLURM"

